.prototypes
  margin: 2rem 0.5rem 0.5rem 1.5rem

  .thumbnail-container
    display: flex

  .thumbnail-img
    margin-right: 2rem

  .thumbnail-title
    text-align: center
    &:hover
      color: #1276CE
      text-decoration-line: underline

  img
    width: 300px
    height: 200px


